@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans Mono", sans-serif;
  background-color: #0a0a23;
  color: white;
  text-align: center;
}
.freecodecamp_logo {
  width: 15rem;
  height: 3rem;
  margin: 1.8rem auto 0;
}
h1 {
  font-family: Lato, sans-serif;
  letter-spacing: 1px;
  margin: 17px auto;
  font-size: 2.5rem;
}
#change-due {
  text-align: center;
  font-size: 1rem;
  margin: 22px auto 14px;
  width: 15rem;
  /* background-color: red; */
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0 20px;
  background-color: inherit;
}
label {
  font-size: 18px;
}
#cash {
  height: 30px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}
#purchase-btn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin: 10px;
  color: #0a0a23;
  font-size: 18px;
  font-weight: bold;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border-color: #feac32;
  border-width: 3px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-screen {
  border: 10px solid #99c9ff;
  background-color: black;
  height: 50px;
  width: 200px;
  margin-left: -40px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.connector {
  margin: 0 0 0 -9rem;
  background-color: #99c9ff;
  height: 30px;
  width: 40px;
}
.top-register {
  display: flex;
  justify-content: space-around;
  border-radius: 35px 35px 0 0;
  padding-top: 20px;
  background-color: #99c9ff;
  height: 280px;
  width: 355px;
}
.btns-container {
  width: 25%;
}
.btn {
  border-radius: 10%;
  border: none;
  width: 20px;
  height: 20px;
  background-color: black;
}
.cash-drawer {
  font-size: 1rem;
  background-color: white;
  width: 55%;
  height: 95%;
  color: black;
  padding: 10px;
}
.bottom-register {
  background-color: #99c9ff;
  height: 50px;
  width: 355px;
  margin: 10px 0 25px 0;
}
.circle {
  margin: 15px auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: black;
}

/* iPad */
@media only screen and (max-width: 1024px) {
}

/* Mobile ----------- */
@media only screen and (max-width: 767px) {
  .top-register {
    width: 335px;
  }
  .bottom-register {
    width: 335px;
  }
}
